<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Chuanpeng Dong">
    
    <title>TCPGdb</title>

    {% block headContent %}
    {% endblock %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/bootstrap.css">
    <link rel="stylesheet" href="./static/css/main.css">
    <link rel="stylesheet" href="./static/css/bootstrap-slider.css">
    <link rel="stylesheet" href="./static/css/cytoscape.js-panzoom.css">
    <link rel="stylesheet" href="./static/css/font-awesome.css">
    <link rel="stylesheet" href="./static/css/tablesort.css">
    <link rel="stylesheet" href="./static/css/bootstrap-multiselect.css">
    <link rel="stylesheet" href="./static/css/bootstrap-glyphicons.css">
    <script src="./static/css/angular.js"></script>
    <script src="./static/css/angular-route.js"></script>
    <script src="./static/css/angular-resource.js"></script>
    <script src="./static/css/angular-pageslide-directive.js"></script>
    <script src="./static/css/paging.js"></script>
    <script src="./static/css/jquery-3.5.1.js"></script>
    <script src="./static/css/bootstrap.js"></script>
    <script src="./static/css/ui-bootstrap-tpls-2.4.0.js"></script>
    <script src="./static/css/bootstrap-slider.js"></script>
    <script src="./static/css/angular-bootstrap-slider.js"></script>
    <script src="./static/css/angular-tablesort.js"></script>
    <script src="./static/css/bootstrap-multiselect.js"></script>
    <script src="./static/css/echarts.js"></script>
    <script src="./static/css/echarts.mini.js"></script>
    <script src="./static/css/jquery.min.js"></script>

    <script> /* listen to the query bar, if no input no respond */
        function validateForm() {
          var x = document.forms["search0"]["input0"].value;
          if (x == "") {
            alert("Please type in a gene symbol!");
            return false;
          }
        }
    </script>

</head>


<body>

<div>
<nav class="navbar navbar-inverse navbar-static-top ng-scope" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">
              <span style="color: #52565e;">TCPGdb</span>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav">
                
                {% block navContent %}
                {% endblock %}
                <!-- <li><a href="http://127.0.0.1:5000/#!/terms"><strong>Terms</strong></a></li> !only activate t =o url -->
            </ul>


            <div style="float:right;">
              <form id="search0" class="example" action="details" onsubmit="return validateForm()"
                    method="POST" required>
                <input type="text" placeholder="Quick search" name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>

        </div>
    </div>
</nav></div>

    <div class="container" style="padding-top: 30px;">
    
  {% block content %}
  {% endblock %}
   
        <br><hr>
        <div style="text-align:center;">
            <p class="light-text" style="font-size:18px;"> Copyright © Chen Lab, Yale School of Medicine, New Haven, CT 06516</p>
            <p class="light-text" style="font-size:18px;"> Any comments and dataset suggestions, please contact us AT chuanpeng.dong@yale.edu</p>
            <p><br></p>
        </div>
    </div>


</body>
</html>
