{% extends '/base.html' %}

{% block headContent %}
    <title>TCPGdb</title>

{% endblock %}


{% block navContent %}
<li><a href="{{ url_for('datasets') }}"><strong>Datasets Summary</strong></a></li>
<li><a href="{{ url_for('crispr') }}"><strong>CRISPR Screen</strong></a></li>
<li><a href="{{ url_for('tscore') }}"><strong>T-score</strong></a></li>
<li><a href="{{ url_for('search') }}"><strong>Search</strong></a></li>
<li><a href="{{ url_for('document') }}"><strong>Document</strong></a></li>
<li><a href="{{ url_for('contact') }}"><strong>Contact</strong></a></li>
{% endblock %}


{% block content %}

<div class="row">
    <!-- ngView: --><div ng-view="" class="ng-scope">
<div class="container-fluid ng-scope">
   <div class="row" style="margin-top: 3px;margin-bottom: 3px">
       <div class="col-md-6">
        <div class="panel" style="height: 300px;width:100%;border-color: #5bc0de">
            <div class="panel-heading" style="background-color: #84cce4">
                <h4>
                    <span class="glyphicon glyphicon-bullhorn"> </span> Welcome to the T Cell Perturbation Genomics database (TCPGdb)!
                </h4>
            </div>
            <div class="panel-body">
              <div class="col-md-7">
                <p style="font-family:  Times, serif; font-size: 18px; text-align: justify;text-justify: inter-character">
                    TCPG (T Cell Perturbation Genomics database) is a database providing comprehensive resources and functional analysis for searching potential T cell gene. It collected the best CRISPR  genome wide screen dataset for priotizing the overall gene function by aggregating result from multi-studies. It also include gene iinformation in T-ALL cancer prognosis. It is the first database for systematically investigating T cell gene functions and we aim to provide useful data and clues for T cell based therapy related clinical research.<br>
                </p>
              </div>
              <div class="col-md-5">
                <div id="data_cartoon" style="width: 400px;height: 200px;"></div>
                  <script type="text/javascript">
                  var chartDom = document.getElementById('data_cartoon');
                  var myChart = echarts.init(chartDom);
                  var option;
                  option = {
                    tooltip: {show: false},
                    series: [
                      {
                        type: 'graph',
                        layout: 'force',
                        animation: false,
                        label: {
                          show: true,
                          fontSize: 12,
                          fontWeight: 'bold',
                          color: '#2f4554',
                          position: 'right',
                          formatter: '{b}'
                        },
                        draggable: true,
                        data: [
                          { name: 'CRISPR i&a', symbolSize: 80, itemStyle: { color: '#c23531'} },
                          { name: 'scRNAseq', symbolSize: 40, itemStyle: { color: '#bda29a'} },
                          { name: 'Immu mRNAseq', symbolSize: 40, itemStyle: { color: '#1e81b0'} },
                          { name: 'CAR-T data', symbolSize: 40, itemStyle: { color: 'green'} },
                          { name: 'T cell cancers', symbolSize: 40, itemStyle: { color: 'orange'} }
                        ],
                        force: {
                            edgeLength: 80,
                            repulsion: 200,
                            gravity: 0.1
                          },
                        edges: [
                          { source: 'CRISPR i&a', target: 'scRNAseq' },
                          { source: 'CRISPR i&a', target: 'Immu mRNAseq' },
                          { source: 'CRISPR i&a', target: 'CAR-T data' },
                          { source: 'CRISPR i&a', target: 'T cell cancers' }
                        ],
                      }
                    ]
                  };
                  option && myChart.setOption(option);
                  </script>
              </div>
            </div>
         </div>
           <div class="panel" style="height: 340px;width:100%;border-color: #5bc0de">
              <div class="panel-heading" style="background-color: #84cce4">
                <h4>
                    <span class="glyphicon glyphicon-signal"> </span> Data Summary
                </h4>
              </div>

                   <div class="list-group">
                        <button class="list-group-item">
                            <span style="font-family: Times, serif; font-size: 18px;"><strong><font color="#eb5424">1. Source:</font></strong> </span><span style="font-family: Times, serif; font-size: 18px;">NCBI GEO, NCBI SRA, PubMed.</span>
                        </button>
                        <button class="list-group-item">
                            <span style="font-family: Times, serif; font-size: 18px;"><strong><font color="#eb5424">2. CRISPR Datasets:</font></strong> </span> <span style="font-family: Times, serif; font-size: 18px;">20 datasets (GEO/SRA/literatures).</span>
                        </button>
                        <button class="list-group-item">
                            <span style="font-family: Times, serif; font-size: 18px;"><strong><font color="#eb5424">3. Expression Datasets:</font></strong> </span> <span style="font-family: Times, serif; font-size: 18px;">Sorted T cell, CAR-T cell, T cell cancer and autoimmune diseases expression. </span>
                        </button>
                        <button class="list-group-item">
                            <span style="font-family: Times, serif; font-size: 18px;"><strong><font color="#eb5424">4. T cell types: </font></strong> </span> <span style="font-family: Times, serif; font-size: 18px;">4 types (CD8 T, CD4 T, Treg, and CAR-T cells)</a>. </span>
                        </button>
                        <button class="list-group-item">
                            <span style="font-family: Times, serif; font-size: 18px;"><strong><font color="#eb5424">5. Species & Protocls: </font></strong></span> <span style="font-family: Times, serif; font-size: 18px;">Human/Mouse, in vitro/in vivo.</span>
                        </button>
                        <button class="list-group-item">
                            <span style="font-family: Times, serif; font-size: 18px;"><strong><font color="#eb5424">6. Procedures: </font></strong> </span> <span style="font-family: Times, serif; font-size: 18px;"><a href="https://guolab.wchscu.cn/ICBatlas//#!/document#process">DEGs, GO, KEGG, GSEA, GSVA, Immune cell abundance and survival</a>.</span>
                        </button>

                    </div>
                </div>
            </div>


       <div class="col-md-6">
                    <div class="thumbnail" id="demo" style="font-size: 16px; min-height: 640px; width: 100%; border-color: rgb(91, 192, 222); -webkit-tap-highlight-color: transparent; user-select: none; position: relative;"></div>
<script type="text/javascript">
var chartDom = document.getElementById('demo');
var myChart = echarts.init(chartDom);
var option;

option = {
  dataset: {
    source: [
      ['Study','Celltype','Method','Approach','Species','NumGene','CelltypeIndex'],
['Cortez_Treg','Treg','in vitro','loss function','mouse','493',3],
['Dai_CART_CD4','CAR-T','in vitro','gain function','human','901',4],
['Dai_CART_CD8','CAR-T','in vitro','gain function','human','901',4],
['Ye_CD8T_GBM','CD8 T','in vivo','loss function','human','1657',2],
['Legut_Tcell','T cell','in vitro','gain function','human','11863',0],
['Belk_Tcell','CD8 T','in vivo','loss function','human','18423',2],
['DGaly_CD4T','CD4 T','in vivo','loss function','mouse','18424',1],
['Wang_CART','CAR-T','in vitro','loss function','human','18903',4],
['Schmidt_CRSIPRa_CD4T','CD4 T','in vitro','gain function','human','18930',1],
['Schmidt_CRSIPRa_CD8T','CD8 T','in vitro','gain function','human','18930',2],
['Schmidt_CRSIPRi_CD4T','CD4 T','in vitro','loss function','human','18939',1],
['Schmidt_CRSIPRi_CD8T','CD8 T','in vitro','loss','human','18939',2],
['Shifrut_Tcell','CD8 T','in vitro','loss function','human','19114',2],
['Carnevale_Tcell','T cell','in vitro','loss function','human','19360',0],
['Zhao_CD8T_vitro','CD8 T ','in vitro','loss function','mouse','19639',2],
['Zhao_CD8T_vivo','CD8 T ','in vivo','loss function','mouse','19639',2],
['Loo_Treg','Treg','in vitro','loss function','mouse','19668',3],
['Szeto_CD4T','CD4 T','in vitro','loss function','mouse','19673',1],
['Lin_CD8T','CD8 T','in vitro','loss function','mouse','19673',2],
['Ye_CD8T','CD8 T','in vitro','gain function','mouse','22391',2],
['Dong_CD8T','CD8 T','in vitro','loss function','mouse','22780',2]
    ]
  },
  grid: {
    left: '2%',
    right: '40%',
    top: '10%',
    bottom: '5%',
    containLabel: true
  },
  title: [
    {
      text: 'T cell genome wide CRISPR perturbation datasets',
      left: '45%',
      top: 15,
      textAlign: 'center'
    }
  ],
  tooltip: {
    show: true
  },
  xAxis: {
    type: 'value',
    position: 'bottom',
    axisLine: { show: true },
    axisTick: { show: true },
    axisLabel: { show: true, fontSize: 15 },
    splitLine: { show: false },
    scale: true,
    name: 'Gene coverage',
    nameLocation: 'middle',
    nameGap: 25,
    nameTextStyle: {
      fontSize: 15
    }
  },
  yAxis: {
    type: 'category',
    axisLine: { show: true },
    axisTick: { show: false },
    axisLabel: {
      interval: 0,
      rotate: 0,
      fontSize: 12
    },
    splitLine: { show: false }
  },
  visualMap: {
    top: 'middle',
    min: 0,
    max: 4,
    left: 30,
    splitNumber: 5,
    dimension: 6,
    inRange: {
      color: ['#37A2DA', '#e06343', '#37a354', '#b55dba', '#b5bd48']
    },
    show: false
  },
  series: [
    {
      type: 'bar',
      encode: {
        // Map the "amount" column to X axis.
        x: 'NumGene',
        // Map the "product" column to Y axis
        y: 'Study',
        tooltip: ['Method', 'Approach', 'Species']
      }
    },
    {
      type: 'pie',
      radius: [0, '25%'],
      center: ['75%', '40%'],
      label: { fontSize: 15 },
      data: [
        {
          name: 'T cell',
          value: 2,
          itemStyle: { normal: { color: '#37A2DA' } }
        },
        {
          name: 'CD4 T',
          value: 3,
          itemStyle: { normal: { color: '#e06343' } }
        },
        {
          name: 'CD8 T',
          value: 10,
          itemStyle: { normal: { color: '#37a354' } }
        },
        { name: 'Treg', value: 2, itemStyle: { normal: { color: '#b55dba' } } },
        { name: 'CAR-T', value: 3, itemStyle: { normal: { color: '#b5bd48' } } }
      ]
    }
  ]
};

option && myChart.setOption(option);
</script>

        </div>
</div>


{% endblock content %}